<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head') %>
    
    <body>
        <header>
            <h1><%= title %></h1>
        </header>
        <main>
            <p><%- message %></p>
            <p>Oops! Something went wrong. Try refreshing the page or go back to the <a href="/">homepage</a>.</p>
            <p>🤖 Error 404? Maybe our robots took the page for maintenance. 🚀</p>
        </main>
    </body>
</html>
